<a href="https://colab.research.google.com/github/shird-0/my-projects/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Specify the most popular programming languages for data science
- Specify the most common Python libraries that data scientists use
- Build a Data science tools table
- Show some examples of calculating an arithmetic expression in Python

## Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL

## Some of the commonly used libraries used by Data Scientists include:
- Pandas
- NumPy
- Matplotlib

## Data science tools table

| Tools       | Description               |
|------------------|--------------------------|
| Jupyter Notebook | interactive environment      |
| Pandas           | data processing         |
| Scikit-learn     | Machine learning      |

### Below are a few examples of evaluating arithmetic expressions in Python
- addition: 2 + 3
- mupltiplication: 4 * 5

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Denis Shirokii